body{
    background-color:rgb(227, 227, 239);
} 
nav{
    display:flex;
    justify-content:space-between;

    height:50px;
    font-size:20px;
    margin-bottom:0px;
    border-bottom:2px solid rgb(227, 227, 239);
}
.first{
    display:flex;
    gap:70px;

    
}
#name{
    font-size: 25px;
    text-align:center;
    letter-spacing:2px;
}
i:active{
    color:aqua;
}
a:active{
    color:aqua;
}
.main{
    margin-top:0px;
  /* background-color:rgb(227, 227, 239);; */
   background-image:url(https://themewagon.github.io/Kelly/assets/img/hero-bg.jpg);
   background-repeat:no-repeat;
   background-size:cover;

   height:700px;
   width:100%;
}
/* .center{
    margin-top:-200px; */

/* } */
.center{
    font-weight:100px;
    padding-top:250px;
    font-size:10px;
    margin-left:450px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#title{
    font-size:50px;
}
#desc{
    font-style:oblique;
    font-size:25px;
}
.main button{
    width:100px;
    height:40px;
    border-radius:50px;
    margin-left:70px;
    border-color:aquamarine;
    background-color: aquamarine;
    font-size:20px;
    color:white;
    font-weight: 100;
}
footer{
    text-align:center;
    word-spacing: 2px;
    line-height:20px;
}
footer  p a{
    color:aqua;
}
footer button{
    border-radius:100%;
    border-color:aqua;
}

.first a{
  text-decoration: none;
}